.App {
    text-align: center;
  }
  
  .app-logo {
    height: 54px;
  }
  
  .App-header {
    background-color: #ffffff;
    height: 50px;
    padding: 20px 0px 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  .App-container {
    padding: 100 200 0 0;
  }
  
  body {
    background:$soft-white;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  