/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 38px;
    height: 25px;
    left: 30px;
    top: 30px;
    justify-content: space-between;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #4F4C4C;
    border-radius: 5px;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #464170;
    padding: 0.5em 0em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #464170;
    width: 10px;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #ffffff;
    padding: 0em;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }