.user-list-container {
    background: white;
    width: 550px;
    height: 600px;
    margin-left: 30px;
    margin-top: 40px;
    border-radius: 10px;
    display: flex;
    position: absolute;
    z-index: 0;
    max-width: 550px;
}

.user-list-search-box {
    height: 42px;
    background: #FBFBFB;
    border: none;
    border-radius: 10px;
    padding: 0px;
    width: 100%;
    position: absolute;
    background-image: '../../assets/icons/lupa.png';
    z-index: 1;
}

.search-input {
    width: 100%;
    height: 42px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #FBFBFB;
    // box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // opacity: 0;
}

.search-icon {
    pointer-events: none;
    z-index: 5;
    height: 25px;
    margin-left: 10px;
    margin-top: 10px;
}

.user-list {
    margin-top: 35px;
    width: 100%;
    text-align: left;
    overflow: scroll;
    position: relative;
    display: inline;
}

.list-item {
    border-bottom: 1px #979797 solid;
    font-weight: lighter;
    font-style: italic;
    font-size: 14px;
    padding-left: 30px;
}