.list-header {
    /* border-style: inset; */
    display: flex;
    justify-content: space-between;
    margin: 10px
}

.add-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 30px;
    cursor: pointer;
    border-radius: 5%
}