.list-header {
    /* border-style: inset; */
    display: inline-flex;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: 90px;

}

.add-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin: 41px 0px 0px 0px;
}

.back-button {
    background-color: #5b1e77; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 10px;
}