body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.login-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('./loginbg.jpg');
  background-size:     cover;  
}

.login-fields-container {
  height: 120px;
  width: 400px;
  background-color: black;
  margin: auto;
  margin-top: 25%;
  border-radius: 10px;
  opacity: 0.8;
}

.username-input {
  width: 95%;
  height: 50%;
  border: none;
  background-color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 900;
  padding-left: 5%;
  border: 1px solid white;
}
.password-input {
  width: 95%;
  height: 50%;
  border: none;
  background-color: black;
  color: white;
  padding-left: 5%;
  font-size: 20px;
  font-weight: 900;
  border: 1px solid white;
}

.submit-input {
  width: 100.7%;
  height: 50%;
  border: none;
  background-color: black;
  color: white;
  padding-left: 5%;
  font-size: 20px;
  font-weight: 900;
  border: 1px solid white;
  -webkit-border-radius: 10px;
    border-radius: 10px; 
}