//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;


//colors

$orange-tokr: #F98726;
$purple-tokr: #8812BF;
$dark-white: #FBFBFB;
$soft-white: #F6F7FA;